<div class="section" id="contact">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About</div>
                        <p>
                            Hi I'm 
                            <strong>Mehul Kothari</strong>
                            .Currently I am AEM Developer and also have expertise with Angular8 ,Django,Python, Java and front end . Done few live projects and portfolio work in above.Won the best student award 3 times at college.Also won Devang Mehta IT awards which is one of biggest event of Gujurat in which Best Student of Year of college get awards.Maintained above 9.57 cgpa.
                        </p>
                        <p>
                            Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth</strong>
                            </div>
                            <div class="col-sm-8">August 27, 1997</div>
                        </div>
                        <div class="row-mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">mehulkothari05@gmail.com</div>
                        </div>
                        <div class="row-mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Phone:</strong>
                            </div>
                            <div class="col-sm-8">+91 8826215734</div>
                        </div>
                        <div class="row-mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">BLA-BLA-BLA</div>
                        </div>
                        <div class="row-mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Hindi, English</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="section" id="contact">
    <div class="cc-contact-information">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contact Me</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <form name="form" (ngSubmit)="f.form.valid ; f.resetForm()" #f="ngForm"
                                            novalidate>
                                            <div class="p pb-3">
                                                <strong>Feel free to contact me </strong>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user-circle"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="name"
                                                            placeholder="Name" [(ngModel)]="model.name" #name="ngModel"
                                                            [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                                                            required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file-text"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="subject"
                                                            placeholder="Subject" [(ngModel)]="model.subject"
                                                            #subject="ngModel"
                                                            [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }"
                                                            required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="email"
                                                            placeholder="E-mail" [(ngModel)]="model.email"
                                                            #email="ngModel"
                                                            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                                            required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message"
                                                            placeholder="Your Message" [(ngModel)]="model.message"
                                                            #message="ngModel"
                                                            [ngClass]="{ 'is-invalid': f.submitted && message.invalid }"
                                                            required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">Send</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            <strong>Phone</strong>
                                        </p>
                                        <p class="pb-2">+91 9974990993</p>
                                        <p class="mb-0">
                                            <strong>Email</strong>
                                        </p>
                                        <p>mehulkothari05@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-snotify class="material"></ng-snotify> -->