<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2015 - 2019</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Engineering</div>
                        <h4 class="category">SRM University, Kattankulathur
                        </h4>
                        <ul>
                            <li>Aenean sapien lectus, condimentum quis pulvinar id, tempus nec urna. Donec ac metus elementum, ullamcorper nisi venenatis, molestie libero.</li>
                            <li>Curabitur accumsan pharetra nunc sed tempus. Nulla id interdum risus. Maecenas at eleifend nulla. Suspendisse nunc lacus, fringilla at tempor vel, cursus id lacus.</li>
                            <li>Sed in lacinia quam. Donec id elementum turpis. Vestibulum mauris ipsum, lacinia ut venenatis vel, hendrerit id ipsum.</li>
                            <li>Integer tortor sapien, venenatis id velit vel, aliquam commodo lectus.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2013 - 2015</p>
                        <div class="h5">Higher Secondary</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Higher Secondary</div>
                        <h4 class="category">Modern Vidya Niketan, Aravali Hills
                        </h4>
                        <ul>
                            <li>Aenean sapien lectus, condimentum quis pulvinar id, tempus nec urna. Donec ac metus elementum, ullamcorper nisi venenatis, molestie libero.</li>
                            <li>Curabitur accumsan pharetra nunc sed tempus. Nulla id interdum risus. Maecenas at eleifend nulla. Suspendisse nunc lacus, fringilla at tempor vel, cursus id lacus.</li>
                            <li>Sed in lacinia quam. Donec id elementum turpis. Vestibulum mauris ipsum, lacinia ut venenatis vel, hendrerit id ipsum.</li>
                            <li>Integer tortor sapien, venenatis id velit vel, aliquam commodo lectus.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2012 - 2013</p>
                        <div class="h5">Sedcondary School</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Secondary School</div>
                        <h4 class="category">Modern Vidya Niketan, Aravali Hills
                        </h4>
                        <ul>
                            <li>Aenean sapien lectus, condimentum quis pulvinar id, tempus nec urna. Donec ac metus elementum, ullamcorper nisi venenatis, molestie libero.</li>
                            <li>Curabitur accumsan pharetra nunc sed tempus. Nulla id interdum risus. Maecenas at eleifend nulla. Suspendisse nunc lacus, fringilla at tempor vel, cursus id lacus.</li>
                            <li>Sed in lacinia quam. Donec id elementum turpis. Vestibulum mauris ipsum, lacinia ut venenatis vel, hendrerit id ipsum.</li>
                            <li>Integer tortor sapien, venenatis id velit vel, aliquam commodo lectus.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>